.navbar {
  border-bottom: solid 3px #ba4a00; }

body {
  max-width: 100%;
  overflow-x: hidden;
  background: #c0c0c0; }

#movie-carousel-section {
  min-height: 500px;
  width: 100%; }
  #movie-carousel-section .rss-display a {
    color: #000;
    text-decoration: none; }

#movies-slide .carousel-item {
  height: 500px; }
#movies-slide .movie-image-1 {
  background: url("/img/another-phone-bg.jpg");
  background-size: cover; }
#movies-slide .movie-image-2 {
  background: url("/img/phone-bg.jpg");
  background-size: cover; }
#movies-slide .movie-image-3 {
  background: url("/img/laptop-1.jpg");
  background-size: cover; }

#new-releases-section .dark-overlay {
  background: rgba(0, 0, 0, 0.4);
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1; }
#new-releases-section a {
  text-decoration: none;
  color: #e2e0e0; }
#new-releases-section .card img {
  height: 220px; }

#trending-daily-section .dark-overlay {
  background: rgba(0, 0, 0, 0.4);
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1; }
#trending-daily-section a {
  text-decoration: none;
  color: #e2e0e0; }
#trending-daily-section .card img {
  height: 220px; }

#dark-overlay-body {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1043;
  min-height: 100%;
  width: 100%;
  left: 0;
  top: 0; }
  #dark-overlay-body .dark-overlay-body-inner {
    padding-top: 50px; }
  #dark-overlay-body img {
    height: 220px; }

#movie-details-modal .movie-trailer-wrapper {
  position: relative;
  padding: 25px 0 56.25% 0;
  height: 0px; }
  #movie-details-modal .movie-trailer-wrapper iframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }

#show-movie-section .show-movie-inner {
  padding-top: 50px; }
